loaddefs.el*
opt/*
backups/*
auto-save-list
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
server/*
ido.last
history
recentf
projectile.cache
projectile-bookmarks.eld
org-gcal
network-security.data
eshell
emacs-desktop
bookmarks
ac-comphist.dat
smex-items
*~
